<h1>Catalogo de Produtos</h1>

<% cache @products do %>
<% @products.each do |product| %>

    <% cache product do %>

    <div class="entry">
      <h3><%= product.title %></h3>
      <%= sanitize product.description %>
      <div class="price_line">
        <span class="price">
          <%= number_to_currency product.price %>
          <%= button_to 'Adicionar ao carrinho', line_items_path(product_id: product) %>
        </span>
      </div>
    </div>

    <% end %>

<% end %>
<% end %>